.card {
    background-color: #C1D208;
    margin: 10px auto;
    width: 400px;
    min-height: 250px;
    height: auto;
}

.card-div {
    max-height: 770px;
    overflow-y: scroll;
}

@media only screen and (max-width: 640px) {
    /*.cards {*/
    /*align-self: center;*/
    /*}*/
    .card {
        width: 325px;
        min-height: 200px;
    }
}