.totals-container, .meal-container, .water-container {
    margin: 20px 30px;
}

.today-card {
    max-width: 1400px;
    background-color: #D01A55;
    padding: 20px;
    color: white;
}

.today-totals {
    display: flex;
    justify-content: space-between;
}

.nutrient-total {
    padding: 0 20px;
    flex: 1;
}

.today-top {
    display: flex;
}

.today-heading {
    flex: 7
}

.add {
    flex: 3;
}

h4, h5 {
    color: white;
}

p {
    font-size: x-large;
    color: white;
}

.meal-totals {
    display: flex;
    justify-content: space-between;
}

.meal {
    background-color: #C1D208;
    padding: 20px;
    color: white;
    flex-basis: 20%;
}


/*.water-card {*/
    /*max-width: 1400px;*/
    /*background-color: #34DDDD;*/
    /*padding: 20px 20px 0 20px;*/
    /*color: white;*/
/*}*/

.water {
    background-color: #34DDDD;
    padding: 20px;
    color: white;
    flex-basis: 15%;
}
