body {
    background: url("https://cdn.psychologytoday.com/sites/default/files/blogs/117626/2013/06/126732-125652.jpg");
    background-size: cover;
    background-position: center;
}

html {
    height: 100%
}