/* The goal is to get the Notes header on the left side and the Date on the right */
.notes {
    font-size: xx-large;
    font-weight: bold;
    color: #26a69a;
}

.date {
    font-size: x-large;
    font-weight: bold;
    color: #26a69a;
}

::placeholder {
    font-weight: bold;
    color: #26a69a;
}