.notes {
    font-size: xx-large;
    font-weight: bold;
    color: darkorange;
}

.date {
    font-size: x-large;
    font-weight: bold;
    color: darkorange;
}

::placeholder {
    font-weight: bold;
    color: darkorange;
}