.notes {
    font-size: xx-large;
    font-weight: bold;
    color: darkorange;
}

.date {
    font-size: x-large;
    font-weight: bold;
    color: darkorange;
}

::placeholder {
    font-weight: bold;
    color: darkorange;
}

input[type=submit] {
    color: white;
}

textarea {
     flex:1;
     font-size: 1.5rem;
     padding: 3rem;
}